<div class="row">
  <div class="col-xs-12">
    <div class="topixInput">
      <%= form_for(@topic, authenticity_token: true) do |f| %>
        <% if topic.errors.any? %>
          <section class="wow fadeInDownBig" data-wow-duration="1s" data-wow-iteration="1">
            <div class="message message__error">
            <h2>入力内容にエラーがあります。</h2>
            以下の<%= topic.errors.count %>個のエラーを修正してください。
            <ul>
              <% topic.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          </section>
        <% end %>
        <div class="topixInput__items col-xs-12">
          <div class="col-xs-4 topixInput__picture">
            <div class="preview"></div>

            <% unless @topic.picture.blank? %>
            <div class="img">
              <div class="thumbnail" id="thumbnail">
                <%=  users_picture(@topic,"topixInput__image") %>
              </div>
            </div>
            <% end %>

            <%= f.label :picture, class: "btn btn-primary " do%>
            <i class="glyphicon glyphicon-camera" aria-hidden="true">
              <span>写真を選ぶ</span>
              <%= f.file_field :picture,style: "display:none;" %>
            </i>
            <% end %>
          </div>
          <div class="col-xs-8 input-field topixInput__text">
            <i class="mdi-editor-mode-edit prefix"></i>
            <%= f.text_field :name,id:"name" %>
            <label for="name">タイトル</label>
          </div>
          <div class="col-xs-8 input-field topixInput__text">
            <i class="mdi-editor-mode-edit prefix"></i>
            <%=  f.text_area :contents, autofocus: true,id:"introduction",class:"materialize-textarea" %>
            <label for="introduction">内容</label>
          </div>
          <div class="col-xs-12 topixInput__button clearfix">
            <div class="topixInput__button--reset">
              <% if @topic.persisted? && @topic.picture? %>
                <%= link_to '削除', topic_path, method: :delete,class:"btn btn-raised btn-warning", data: { confirm: '本当に削除してもよろしいですか?' } %>
              <% else %>
                <%= f.button "リセット", type: :reset,class: "btn btn-warning",id:"reset" %>
              <% end %>
            </div>
            <div class="topixInput__button--submit">
              <%= f.submit '登録する', :class=>"btn btn-raised btn-primary" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
