<div class="row">
  <div class="col-xs-8 col-md-6 col-xs-offset-2 col-md-offset-3">
    <div class="card hoverable topicDetail topicDetail__items">
      <% if notice.present? %>
      <section class="wow fadeInDownBig" data-wow-duration="1s" data-wow-iteration="1">
        <div class="message message__info"><%= notice %></div>
      </section>
      <% end %>
      <p id="notice"></p>
      <div class="col-xs-1 topicDetail__userAvatar topicDetail--paddingZero"><%= profile_img(@topic.user,"avatarSize--topicsDetail") %></div>
      <div class="col-xs-5">
        <div class="topicDetail__userName"><%= @topic.user.name %></div>
        <div class="topicDetail__createTime"><%= @topic.created_at.strftime("%y/%m/%d %p %l:%M") %>投稿</div>
      </div>
      <div class="col-xs-3 topicDetail__linkBtn">
        <% if current_user.id == @topic.user_id %>
          <%= link_to '編集', edit_topic_path(@topic),class:"btn btn-warning" %>
        <% end %>
      </div>
      <div class="col-xs-3 topicDetail__linkBtn">
        <%= link_to '戻る', topics_path,class:"btn btn-default" ,style:"display:inline-block" %>
      </div>
      <%#<div class="col-xs-3  topicDetail__like">いいね(今回は見送る) </div> %>
      <div class="col-xs-12 topicDetail__contents">
        <div class="col-xs-12 topicDetail__contentsT"><%= @topic.name %> </div>
        <% if @topic.picture.present? %>
          <div class="col-xs-4 topicDetail__picture">
            <%= users_picture(@topic,"") %>
          </div>
        <% end %>
        <div class="col-xs-12　topicDetail__contentsD">
          <%= @topic.contents %>
        </div>
      </div>
      <div class="col-xs-12 topicDetail__comments">
        <div id="comments_area">
          <%= render partial: 'comments/index', locals: { comments: @comments, topic: @topic } %>
        </div>
          <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
      </div>
    </div>
  </div>
</div>
