<!DOCTYPE html>
<html>
  <head>
    <title>EXAM3</title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tags %>

     <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navArea__list">
            <!--<li class="active"><a href="javascript:void(0)">アクティブ</a></li>-->
            <li>
              <%= link_to root_path do %>
                <span class="navArea__itemIcon"><%= mi.home.md_36 %></span>
                <span class="navArea__itemText navArea__itemText--md36 hidden-xs">トップページ</span>
              <% end %>
            </li>
            <% if user_signed_in? %>

            <li>
              <%= link_to topics_path do %>
                <span class="navArea__itemIcon"><%= mi.list.md_36 %></span>
                <span class="navArea__itemText navArea__itemText--md36">トピック一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_topic_path do %>
                <span class="navArea__itemIcon"><%= mi.playlist_add.md_36 %></span>
                <span class="navArea__itemText navArea__itemText--md36">トピックを投稿</span>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
                <span class="navArea__itemIcon"><%= mi.people.md_36 %></span>
                <span class="navArea__itemText navArea__itemText--md36">ユーザー一覧</span>
              <% end %>
            </li>
            <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li>
              <%= link_to edit_user_registration_path do %>
                <span class="navArea__itemIcon"><%= mi.person.md_36 %></span>
                <span class="navArea__itemText navArea__itemText--md36">マイページ</span>
              <% end %>
            </li>
            <li>
              <%= link_to conversations_path do %>
                <span class="navArea__itemIcon"><%= mi.message.md_36 %></span>
                <span class="navArea__itemText navArea__itemText--md36">メッセージ</span>
              <% end %>
            </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="glyphicon glyphicon-log-out navArea__itemTwIcon" aria-hidden="true"></i>
                  <span class="navArea__itemTwText navArea__itemText--md36">ログアウト</span>
                <% end %>
              </li>
            <% else %>
            <li>
              <%= link_to new_user_session_path do %>
                <i class="glyphicon glyphicon-log-in navArea__itemTwIcon" aria-hidden="true"></i>
                <span class="navArea__itemTwText navArea__itemText--md36">ログイン</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
              　<i class="material-icons md-36">person_add</i>
                <span class="navArea__itemText navArea__itemText--md36">サインアップ</span>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
